html,
body {
  background: #eee;
  color: #333;
  padding: 0;
  margin: 0;
  font: 12px Arial, Helvetica, sans-serif;
}

header {
  margin: 0;
  padding: 8px 16px;
}

header h1,
header h2,
header h3 {
  display: inline-block;
  padding: 0;
  margin: 0;
}

form {
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
  background: #ddd;
  color: #333;
}

form button {
  transition: all 250ms ease-in-out;
  background: #000;
  background: linear-gradient( top, #333 0%, #000 50% );
  cursor: pointer;
  color: #ddd;
  border: solid 1px #ccc;
  border-radius: 2px;
  box-shadow: 1px 1px 0 #888;
  text-shadow: 1px 1px 1px #555;
  font: normal 16px Arial, Helvetica, sans-serif;
  display: block;
  margin: 0;
  padding: 8px 16px;
  width: 100%;
}

form button:hover {
  border-color: #080;
  background: #222;
  background: linear-gradient( bottom, #333 0%, #000 50% );
  text-shadow: #333;
}

form fieldset {
  clear: both;
  border: none;
  padding: 4px 0;
  margin: 4px;
  border-bottom: solid 1px #ccc;
}

form fieldset label {
  clear: left;
  float: left;
  width: 120px;
  line-height: 14px;
  padding: 6px;
  text-align: right;
  text-transform: capitalize;
  font-weight: bold;
}

form fieldset label + input {
  margin-left: 140px;
}

form input {
  transition: all 250ms ease-in-out;
  font: 12px Arial, Helvetica, sans-serif;
  display: block;
  padding: 6px;
  border-radius: 4px 2px;
  border: solid 1px #aaa;
  background: #fff;
  background: linear-gradient( top, #ffffff 0%, #eeeeee 100% );
  color: #131;
  margin: 2px;
}

form input:hover {
  background: linear-gradient( bottom, #ffffff 0%, #eeeeee 100% );
  border-color: #585;
}
