html {
  font: 14px Geneva, Trebuchet MS, Tahoma, sans-serif;
  background-color: #e0e0e0;
  color: #505050;
}

html, body { margin: 0; padding: 0; }

a {
  color: #000;
}

a:hover {
  color: #050;
}

header {
  background-color: #d0d0d0;
  color: #404040;
  padding: 5px;
  border-bottom: solid 1px #bbb;
  border-radius: 0 0 4px 4px;
}

footer {
  text-align: center;
  padding: 5px 5px 0;
}

footer a {
  opacity: 0.5;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  padding: 4px 8px;
  background-color: #ccc;
  color: #000;
  border-radius: 4px 4px 0 0;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: #aaa;
}

footer a:hover {
  opacity: 1.0;
}

footer a:active {
  background-color: #aaa;
}

article {
  margin: 10px;
  border-radius: 4px;
  background-color: #f0f0f0;
  color: #606060;
  padding: 10px;
  box-shadow: 0 1px 0 #aaa;
}

header h1,
header h2 {
  display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 5px;
  padding: 0;
  letter-spacing: 1px;
  font-variant: small-caps;
  font-weight: normal;
  text-shadow: 1px 1px 1px #fff;
}

h1 { font-size: 2em; }
h2 { font-size: 1.75em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.25em; }
h5 { font-size: 1.1em; }
h6 { font-size: 1em; font-weight: bold; }

ul.tags,
ul.tags li {
  list-style: none;
}

ul.tags {
  display: block;
  margin: 5px;
  padding: 0;
  float: right;
}

ul.tags li {
  display: inline-block;
  border-radius: 4px;
  font-size: 12px;
  padding: 2px 8px;
  background-color: #ccd;
  color: #f0f0f0;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px 0 #ccc;
  cursor: default;
}

ul.tags li:hover {
  background-color: #bbc;
}

form fieldset {
  float: left;
  border: none;
  padding: 5px;
  margin: 5px;
  display: block;
}

form fieldset legend {
  font-weight: bold;
  display: block;
  padding: 0;
  margin: 0 0 5px;
  color: #000;
  text-shadow: 1px 1px 1px #fff;
}

form fieldset input,
form fieldset select {
  display: block;
}

iframe {
  width: 100%;
  height: 240px;
  box-shadow: 2px 2px 1px #888;
  border: none;
  border-radius: 2px;
}

form input[type="text"] {
  border: solid 1px #888;
  padding: 4px;
  border-radius: 4px 0;
  box-shadow: 2px 2px 0 #ccc;
  background-color: #f0f0f0;
  color: #303030;
}

form input[type="text"]:hover,
form input[type="text"]:focus {
  background-color: #eef;
  color: #303050;
}

form button {
  clear: left;
  display: block;
  border: solid 1px #888;
  color: #ddd;
  padding: 8px;
  font-weight: bold;
  letter-spacing: 1px;
  font-variant: small-caps;
  font-size: 16px;
  text-shadow: 1px 1px 0 #000;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
}

form button {
  background: #050505;
  background: -moz-linear-gradient(top,  #050505 0%, #2b2b2b 49%, #1c1c1c 50%, #000000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#050505), color-stop(49%,#2b2b2b), color-stop(50%,#1c1c1c), color-stop(100%,#000000));
  background: -webkit-linear-gradient(top,  #050505 0%,#2b2b2b 49%,#1c1c1c 50%,#000000 100%);
  background: -o-linear-gradient(top,  #050505 0%,#2b2b2b 49%,#1c1c1c 50%,#000000 100%);
  background: -ms-linear-gradient(top,  #050505 0%,#2b2b2b 49%,#1c1c1c 50%,#000000 100%);
  background: linear-gradient(to bottom,  #050505 0%,#2b2b2b 49%,#1c1c1c 50%,#000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#050505', endColorstr='#000000',GradientType=0 );
}

form button:hover {
  background: #121212;
  background: -moz-linear-gradient(top,  #121212 0%, #363636 49%, #272727 50%, #0d0d0d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#121212), color-stop(49%,#363636), color-stop(50%,#272727), color-stop(100%,#0d0d0d));
  background: -webkit-linear-gradient(top,  #121212 0%,#363636 49%,#272727 50%,#0d0d0d 100%);
  background: -o-linear-gradient(top,  #121212 0%,#363636 49%,#272727 50%,#0d0d0d 100%);
  background: -ms-linear-gradient(top,  #121212 0%,#363636 49%,#272727 50%,#0d0d0d 100%);
  background: linear-gradient(to bottom,  #121212 0%,#363636 49%,#272727 50%,#0d0d0d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#121212', endColorstr='#0d0d0d',GradientType=0 );
}

form button:active {
  background: #000000;
  background: -moz-linear-gradient(top,  #000000 0%, #1c1c1c 50%, #2b2b2b 51%, #050505 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(50%,#1c1c1c), color-stop(51%,#2b2b2b), color-stop(100%,#050505));
  background: -webkit-linear-gradient(top,  #000000 0%,#1c1c1c 50%,#2b2b2b 51%,#050505 100%);
  background: -o-linear-gradient(top,  #000000 0%,#1c1c1c 50%,#2b2b2b 51%,#050505 100%);
  background: -ms-linear-gradient(top,  #000000 0%,#1c1c1c 50%,#2b2b2b 51%,#050505 100%);
  background: linear-gradient(to bottom,  #000000 0%,#1c1c1c 50%,#2b2b2b 51%,#050505 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#050505',GradientType=0 );
}
