html,
body {
  padding: 0;
  margin: 0;
  background: #eee;
  color: #333;
  font: 12px Arial, Helvetica, sans-serif;
}

header {
  background: #ddd;
  border-bottom: solid 1px #ccc;
  padding: 8px;
  font-family: Georgia, serif;
  color: #bbb;
  margin-bottom: 8px;
}

header h1,
header h2,
header h3 {
  font-weight: normal;
  display: inline-block;
  padding: 0;
  margin: 0;
}

header h2,
header h3 {
  float: right;
  color: #eee;
}

article section {
  margin: 8px 8px 8px 54px;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 1px 2px 0 #ccc;
  background: #fff;
  background: linear-gradient( bottom, #eee 0%, #fff 100% );
  color: #333;
  position: relative;
  min-height: 34px;
}

article section:hover,
article section:focus {
  background: linear-gradient( top, #eee 0%, #fff 100% );
}

article section a,
article section time,
article section p {
  margin: 0;
  padding: 4px;
  display: block;
}

article section time {
  color: #ccc;
  font-style: italic;
  float: right;
}

article section a img {
  border-radius: 2px 4px;
  box-shadow: 1px 1px 1px #888;
  border: solid 1px #000;
}

article section a {
  float: left;
  margin-top: -4px;
  margin-left: -54px;
}

article section p {
  font: 16px Georgia, serif;
  color: #666;
}

